.App {
  text-align: center;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #ba000d;
  height: 7vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;

}


.title {
  color: white;
  height: 100%;
}

.footer {
  height: 2.4vh;
  background-color: #f44336;
  width:100%;
  justify-content: center;
  display: flex;
  font-size: small;
  align-items: center;
}
.footer > div {
  width: 50%;
}

.App-link {
  color: #61dafb;
}
@media only screen and  (max-width: 425px) {
  .header{
    height: 10vh;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    height: 3vh;
  }
}