.App {
  text-align: center;
  height: 100vh;
}

.header {
  width: 100%;
  height: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f44336;
  /* margin-bottom: 15px; */
}
.title {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 99%;
} 

.footer {
  height: 3vh;
  background-color: #f44336;
  width:100%;
  align-items: center;
  justify-items: center;
 /*  margin-top: 15px; */
}

.App-link {
  color: #61dafb;
}
